@font-face {
  font-family: 'JetBrains Mono';
  src: url('./JetBrainsMono-MediumItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
.hello {
  background: url('./image.jpg');
  font-family: 'JetBrains Mono';
  color: red;

}